node_modules
npm-debug.log
bundle.*
build/
.DS_Store
cordova/config.xml
cordova/platforms/ios/Hive/config.xml
cordova/www/
cordova/platforms/ios/www/
cordova/platforms/ios/cordova/console.log
cordova/platforms/ios/Hive.xcodeproj/project.xcworkspace/xcuserdata/
cordova/platforms/android/assets/www/
cordova/platforms/android/CordovaLib/ant-build/
cordova/platforms/android/CordovaLib/ant-gen/
cordova/platforms/android/ant-build/
cordova/platforms/android/ant-gen/
cordova/platforms/android/res/xml/config.xml
*.xcuserdatad
.vagrant
.vagrant
provisioners
*.config
